# All logs
*.log

# Other lockfiles
npm-shrinkwrap.json
package-lock.json

# Yarn related
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Dependency directory
**/node_modules

# Generated contents
coverage
dists
types
